modules = ["nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["unzipNLS"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3003

[[ports]]
localPort = 4001
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start Backend"
author = "agent"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
waitForPort = 3001

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Project"
author = "agent"
mode = "parallel"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Backend"

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "cd Molada-pay && npm start & npm run web -- --port 5000"]
